<h1>Available stallions</h1>
<p>Find your next champion here!</p>

<% @horses.each do |horse| %>
  <div class="card-product">
    <%= cl_image_tag horse.photo.key %>
    <div class="card-product-infos">
      <h3><%= horse.name %></h2>
      <h2><%= horse.category %></h2>
      <h2><%= horse.breed %></h2>
      <h2><%= horse.height %></h2>
      <h2><%= horse.pedigree %></h2>
      <h2><%= horse.accomplishments %></h2>
      <h2><%= horse.price %></h2>
    </div>
  </div>
<% end %>
