<h3>Profile for <strong><%= @horse.name %></strong></h3>

<div class="card-product mb-3">
  <%= cl_image_tag @horse.photo.key %>
  <div class="card-product-infos">
    <h3><%= @horse.name %></h3>
    <h2><%= @horse.category %></h2>
    <h2><%= @horse.breed %></h2>
    <h2><%= @horse.height %></h2>
    <h2><%= @horse.pedigree %></h2>
    <h2><%= @horse.accomplishments %></h2>
    <h2><%= @horse.price %></h2>
  </div>
</div>

<%= button_to 'Back to index', horses_path, method: :get, class: "btn btn-flat" %>

<% if @horse.user == current_user  %>
  <%= button_to 'Edit this horse', edit_horse_path(@horse), method: :get, class: "btn btn-light" %>
  <%= link_to "delete", horse_path(@horse), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this horse?"}, class: 'text-danger' %>
  <% else %>
  <%= button_to 'Buy this horse', horse_sales_path(@horse), method: :post, class: "btn btn-light" %>
<% end %>
