<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dxk959tzt/image/upload/v1693326183/philippe-oursel-Jfk79d9MrHQ-unsplash_mtrhct.jpg);">
  <div class="container">
    <h1>Elevate Your Breeding Program with Top-Quality Genetics</h1>
    <p>Breed your next Champion</p>
    <%= button_to "Browse Horses", horses_path, method: :get, class: "btn btn-flat" %>
  </div>
</div>
<section class="d-flex flex-column banner-services">
  <div class=" title-banner-services">
  <h2>Need something done?</h2>
  <p>Most viewed and all-time top-selling services</p>
  </div>
  <div class="services d-flex text-center">
    <div class="service">
      <i class="fa-solid fa-horse-head icon"></i>
      <h2>Post a Horse</h2>
      <p>Sell the genetics of your champion worldwide</p>
    </div>
    <div class="service">
      <i class="fa-solid fa-medal icon"></i>
      <h2>Choose your next Champion</h2>
      <p>Browse through our Champions and find the one that suits the needs of your Breeding Program</p>
    </div>
    <div class="service">
      <i class="fa-solid fa-credit-card icon"></i>
      <h2>Pay safely</h2>
      <p>Either if you buy or sell, we make payment methods easy and safe for you</p>
    </div>
    <div class="service">
      <i class="fa-solid fa-headset icon"></i>
      <h2>We're here to help</h2>
      <p>If you need any assistance we've got a team 24/7 available to help you out</p>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Browse Horses by category</h2>
    <div class="categories">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dxk959tzt/image/upload/v1693333324/paul-chambers-m1uT_XHsTQM-unsplash_kprriz.jpg)">
        <h3>Polo</h3>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dxk959tzt/image/upload/v1693261515/development/pd6iqu1gnc7d05y35xrhcf2uo1zb.png)">
        <h3>Showjumping</h3>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dxk959tzt/image/upload/v1693333255/jeff-griffith-QAJ2H_nJqLo-unsplash_zotndg.jpg)">
        <h3>Race horses</h3>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dxk959tzt/image/upload/v1693333481/elisa-pitkanen-yZbdyAfaFo8-unsplash_ocob4k.jpg)">
        <h3>Dressage</h3>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dxk959tzt/image/upload/v1693333643/timothy-eberly-A1TvUdANrfg-unsplash_gos8ib.jpg)">
        <h3>Western</h3>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dxk959tzt/image/upload/v1693333406/sheila-swayze-UyCCGwLNM40-unsplash_mxwfvh.jpg)">
        <h3>Trail Horses</h3>
      </div>
    </div>
  </div>
</section>
<section class="feature-horses d-flex flex-column">
  <div class="feature-horses-title text-center p-4">
    <h2>Featured Horses</h2>
  </div>
  <div class="cards d-flex justify-content-evenly">
    <% @horses_sample.each do |horse| %>
      <div class="card" style="width: 18rem;">
        <%= image_tag horse.photo, class: "rounded-top" %>
        <div class="card-body bg-white">
          <h3 class="card-title"><%= horse.name %></h3>
          <p class="card-text"><%= horse.accomplishments %></p>
          <%= button_to 'View horse', horse_path(horse), method: :get, class: "btn btn-flat" %>
        </div>
      </div>
    <% end %>
  </div>
</section>
<section class="metrics-container d-flex gap-5 flex-wrap align-center justify-content-center mb-5 ">
  <article>
    <figure><img src="https://res.cloudinary.com/dxk959tzt/image/upload/v1693495856/pngfind.com-horse-png-594151_1_z6z6qx.png" alt=""></figure>
    <div class="container text-center mt-3">
      <h2>Horses published</h2>
      <p><%= @horses.count %></p>
    </div>
  </article>
    <article>
    <figure><img src="https://res.cloudinary.com/dxk959tzt/image/upload/v1693496355/kisspng-horse-tack-equestrian-hunt-seat-horse-riding-5acb75a3c6ffd3.8767762615232833638151_ghdnn2.png" alt=""></figure>
    <div class="container text-center mt-3">
      <h2>Users registered</h2>
      <p><%= @users.count %></p>
    </div>
  </article>
    <article>
    <figure><img src="https://res.cloudinary.com/dxk959tzt/image/upload/v1693497136/jeff-griffith-PaIDqj8otls-unsplash-removebg-preview_dr8uuh.png" alt=""></figure>
    <div class="container text-center mt-3">
      <h2>Sales done</h2>
      <p><%= @sales.count %></p>
    </div>
  </article>
</section>
