<P></P>
<div class="heading heading-center divider-with-icon heading-divider">
  <h3 class="section-title">MY PURCHASES</h3>
  <div class="divider">
      <i class="fa fa-list-ul"></i>
  </div>
</div>

<div class="gap-3 row m-4 p-3 justify-content-center align-center">
  <% @sales.each do |sale| %>
  <div class="card-my-sales col-4 border justify-content-between" style="width: 18rem;">
    <%= cl_image_tag sale.horse.photo.key, class: "card-img-top card-img-my-sales" %>
    <div class="justify-content-between">
        <h5 class="card-title"><%= sale.horse.name %></h5>
        <p >$<%= sale.price %></p>
        <p ><%= sale.date %></p>
    </div>
  </div>
  <% end %>
</div>

<div class="container d-flex justify-content-center mb-5">
  <%= button_to "Back to Horses", horses_path, method: :get, class: "btn btn-flat" %>
</div>
